certifi==2026.6.17
charset-normalizer==3.4.7
colorama==0.4.6
geopandas==1.1.4
idna==3.18
iniconfig==2.3.0
joblib==1.5.3
narwhals==2.23.0
networkx==3.6.1
numpy==2.4.6
osmnx==2.1.0
packaging==26.2
pandas==3.0.3
pluggy==1.6.0
psycopg2-binary==2.9.12
Pygments==2.20.0
pyogrio==0.13.0
pyproj==3.7.2
pytest==9.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.34.2
scikit-learn==1.9.0
scipy==1.17.1
shapely==2.1.2
six==1.17.0
threadpoolctl==3.6.0
tzdata==2026.2
urllib3==2.7.0
